.block {
  margin: auto;
  margin-top: 40px;
  width: 400px;
  min-height: 400px;
  background-color: #fff;
  padding:40px;
  border-radius: 25px;
}

.form-inner h1 {
  color: #9555af;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.my__label {
  font-size: 12px;
  font-weight: 500;
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
}

.my__input {
  outline: none;
  width: 100%;
  border: 2px solid #9555af;
  border-radius: 4px;
  padding: 12px 20px;
  background: rgba(0, 0, 0, 0.1);
}

.form-inner button {
  outline: none;
  background: #9555af;
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 12px 20px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.buttons {
  margin-top:20px;
}