.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 15px;
    box-sizing: border-box;
    background-color: #3c1555;
    height: 10vh;
}

.header p {
    margin: 0;
    color: white;
}

.header-nav {
    list-style-type: none;
    padding: 0;
    margin:0;
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-between;
}

.header-nav li a {
    color: white;
    text-decoration: none
}

.header-nav li a:hover {
    color: red;
    cursor: pointer;
}
