.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 15px;
    box-sizing: border-box;
    background-color: #3c1555;
    height: 10vh;
}

.header p {
    margin: 0;
    color: white;
}

.header-nav {
    list-style-type: none;
    padding: 0;
    margin:0;
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-between;
}

.header-nav li a {
    color: white;
    text-decoration: none
}

.header-nav li a:hover {
    color: #d585ff;
    cursor: pointer;
}

.header-user {
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
}

.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;

  margin: 2px 0;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.5em 1em;
  color: #ffffff;
  background-color: #9555af;
}