  .wrapper {
    min-height: 80vh;
    width: 100%;
    background: linear-gradient(45deg, #d585ff, #00ffee);
  }
  
  .wrapper__h1 {
    display: block;
    margin-top: 60px;
    text-align: center;
  }

  .todo-app {
    margin: 2rem auto 0 auto;
    width: 600px;
  }
  
  .top-panel {
    margin: 1rem 0;
  }
